$sitecolor_red: #FF463A
$sitecolor_blue: #1EDAFF
$sitecolor_green: #92FF37
$sitecolor_orange: #E8AD29
$sitecolor_purple: #7529E8
body
  margin: 0
.text-main
  font-size: 300%
.text-other
  font-size: 200%
.center
  text-align: center
.paragraphText
  font-size: 200%
#about
  background-color: $sitecolor-red
  margin: 0
  display: flex
  flex-direction: column
#home
  background-color: $sitecolor_purple
  margin: 0
  display: flex
  height: 100vh
  align-items: center
  flex-direction: column
  justify-content: center
#projects
  background-color: $sitecolor_blue
  margin: 0
  display: flex
  flex-direction: column
